:root {
  --black: #000;
  --white: white;
  --teal: #31a5a4;
  --darker-teal: #237b7a;
  --white-2: white;
  --black-2: black;
}

body {
  color: #333;
  font-family: Questrial, sans-serif;
  font-size: 14px;
  line-height: 20px;
}

h1 {
  margin-top: 20px;
  margin-bottom: 30px;
  font-family: Archivo, sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 44px;
}

label {
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: 400;
  display: block;
}

.form-wrapper {
  max-width: 800px;
  margin: 0 auto;
}

.nav {
  background-color: var(--black);
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  position: relative;
}

.return-home-link {
  grid-column-gap: 9px;
  grid-row-gap: 9px;
  color: var(--white);
  flex: 0 auto;
  text-decoration: none;
  display: flex;
  position: absolute;
  top: auto;
  bottom: auto;
  left: 0%;
  right: auto;
}

.section-padding {
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.form-wrapper {
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 80px;
  display: flex;
}

.nav-inner-wrapper {
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
}

.text-field {
  color: var(--black);
  border: 0 solid #000;
  border-top: 1px #000;
  border-bottom-width: 1px;
  padding-left: 0;
  font-size: 16px;
}

.text-field:focus {
  border-bottom-color: #000;
}

.text-field::placeholder {
  color: var(--black);
}

.select-field {
  color: #4f4f4f;
  background-color: rgba(243, 243, 243, 0);
  border: 0 solid #000;
  border-bottom-width: 1px;
  max-width: 250px;
  padding-left: 0;
  font-size: 14px;
}

.flex {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  display: flex;
}

.flex.padding {
  padding-top: 20px;
}

.select-wrapper {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 30px;
}

.field-label {
  color: var(--black);
}

.date-picker {
  border: 0 solid #000;
  border-bottom-width: 1px;
  width: 250px;
  padding: 10px 10px 10px 0;
}

.textarea {
  max-width: 100%;
}

.form-block {
  width: 100%;
  padding: 30px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.button {
  background-color: var(--teal);
  border-radius: 100px;
  padding: 16px 23px;
  font-size: 16px;
}

.button:hover {
  background-color: var(--darker-teal);
}

.short-text-field {
  max-width: 500px;
}

@font-face {
  font-family: "Questrial";
  src: url("../fonts/questrial-v18-latin-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Archivo";
  src: url("../fonts/archivo-v19-latin-800.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
